SIGNATURE=<a long key>

SOCKET_PORT=<...>
UDP_ADDR=<...>
UDP_PORT=<...>
REPLY_TO=<...>

MONGO_ROOT_USER=<...>
MONGO_ROOT_PASSWORD=<...>
DB_NAME=<...>
MONGO_HOST_PORT=27017

REDIS_PASSWORD=<secure_password>
REDIS_HOST_PORT=6379

API_WORKERS=4

BASE_URL=<url_to_api_base_endpoint>

# DB_URL=mongodb://USER:PASSWORD@mongodb:27017/DB_NAME?authSource=admin
DB_URL=<mongodb_full_url>
REDIS_URL=<redis_full_url>

SMTP_HOST=<...>
SMTP_PORT=587
SMTP_USER=<...>
SMTP_PASS=<...>

REG_CONFIRM_CODE_TTL=900
DEL_CONFIRM_CODE_TTL=900

HEALTHCHECK=30

REDIS_HEALTHCHECK_TIMEOUT=5
DB_HEALTHCHECK_TIMEOUT=5
SMTP_HEALTHCHECK_TIMEOUT=10

GLOBAL_HEALTHCHECK_TIMEOUT=15

MIN_CONFIRM_EXEC_TIME=1.5

FAIL_COUNT_TO_CONFIRM_RATELIMIT=<...>
CONFIRM_RATELIMIT_SECONDS=<...>

ARGON_TIME_COST=<...>
ARGON_MEMORY_COST=<...>
ARGON_PARALLELISM=<...>
ARGON_HASH_LENGTH=<...>

SESSION_ID_LENGTH=<...>
SESSION_LENGTH_DAYS=<...>

PRIVATE_KEY_PATH=private_key.pem
PUBLIC_KEY_PATH=public_key.pem

REDIS_SESSION_SYNC_PERIOD=<...>
MONGO_SESSION_EXPIRY_SYNC_PERIOD=<...>

DELETED_ACCOUNTS_TTL_DAYS=<...>

MATCH_KEY_LENGTH=<...>